/*
 * MOBILE (<768px) -------------------------
 * fixture ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍsm
 * # of columns ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ4
 * gutter ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ20px
 * margin ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ10px
 * container-size ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ100% - (5px*2)
 *
 * TABLET (>=768px) -------------------------
 * fixture ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍmd
 * # of columns ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ12
 * gutter ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ20px
 * margin ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ30px
 * container-size ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ100% - (30px*2)
 * max-container-size ㆍㆍㆍㆍㆍㆍㆍㆍ960px
 *
 * DESKTOP (>=1200px) -------------------------
 * fixture ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍlg
 * # of columns ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ12
 * gutter ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ20px
 * unit ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ75px
 * margin ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍauto
 * container-size ㆍㆍㆍㆍㆍㆍㆍㆍㆍㆍ1140px
 * max-container-size ㆍㆍㆍㆍㆍㆍㆍㆍㆍ1140px
*/

.container {
  width: 100%;
  padding: 0 $sm-margin;
  margin: 0 auto;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  [class^='col-'] {
    padding: 0 $gutter/2;
  }

  @for $i from 1 through $sm-columns {
    .col-sm-#{$i} {
      width: $i / $sm-columns * 100%;
    }
  }

  @include responsive(T) {
    max-width: $md-max-container;
    padding: 0 $md-margin;

    @for $i from 1 through $md-columns {
      .col-md-#{$i} {
        width: $i / $md-columns * 100%;
      }
    }
  }

  @include responsive(D) {
    max-width: $lg-max-container;
    padding: 0;

    @for $i from 1 through $lg-columns {
      .col-lg-#{$i} {
        width: ($lg-unit + $gutter) * $i;
      }
    }
  }
}
